.general {
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
  
.transparent-box {
  background-color: rgba(0, 0, 0, 0.5); /* Ajusta el valor de '0.5' para cambiar la transparencia */
  padding: 20px;
}