#sidebar1 {
    width: 18%;
    height: 100vh;
    background: radial-gradient(circle, #0b5742 0%, #0b5742 35%, #0b5742 100%);
}
.imagenSid {
        display: block;
        margin: auto;
  }

  .nav-link{
    color:white !important;
  }

  #tap{
    background: '#202326';
     color: "white",
  }

  body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
  }

  .transparent-box {
    background-color: rgba(0, 0, 0, 0.5); /* Ajusta el valor de '0.5' para cambiar la transparencia */
    padding: 20px;
  }

  .contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura según tus necesidades */
  }
  
  .contenedor img {
    max-width: 100%; /* Ajusta el tamaño máximo de la imagen */
    max-height: 100%; /* Ajusta el tamaño máximo de la imagen */
  }